* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(229, 240, 239);
    font-family: 'Courier New', Courier, monospace;
}

/*header styles*/
header {
    padding: 20px 20px;
    background-color: #91b4c9;
    
}

header a {
    text-decoration: none;
    color: #4b4943;
    margin: 10px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #4b4943;
    display: inline;
}

header nav ul li {
    display: inline;
}
header nav {
    float: left;
    margin: 16px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
 
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: #13293d;
    color: #fff;
}

.projects {
    flex: 1 0 0;
    padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.projects header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}

.projects img {
    width: 50%;
    min-width: 400px;
}

.project-1 img {
    width: 50%;
    position: relative;
    left: 400px;
}



/*footer styles*/
footer {
    background-color: #91b4c9;
    font-size: 15px;
    padding: 10px;
}

